.rowStyle {
  display: flex;
  flex-direction: row;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reset {
  border: 2px solid gray;
  background-color: black;
}