.navigation {
  display: flex;
  justify-content: left;
  border: 1px solid white;
}

.drawer {
  display: flex;
  justify-content: space-between;
}

.drawerToggleButton {
  position: absolute;
  left: 0;
  top: 0;
}