.weatherCard {
  border: 2px solid white;
}

.detailedForecastButton {
  width: auto;
}

.detailedForecast {
  width: 300px;
}

.detailedForecastBox {
  display: flex;
  align-items: flex-start;
}
     