.appWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.appBox {
  display: flex;
  height: 100%;
  width: 800;
}


.pageBox {
  display: flex;
  width: 100%;
}
